*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  font-family: sans-serif;
  position: absolute;
}
.background{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(background.jpg);
}
.navigation{
  width: 99%;
  margin: 10px;
  padding: 35px 0;
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-top: -250px;
  font-size: 20px;
}
.navigation ul li{
  list-style: none;
  display: inline-block;
  margin-bottom: 350px;
  position: relative;
}
.navigation ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navigation ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navigation ul li:hover::after{
  width: 100%;
}
.logo{
width: 100px;
margin-top: 60px;
margin-left: 60px;
}
.title{
  color: #fff;
  position: absolute;
  text-align: center;
  top: 17%;
  margin-left: 42%;
  font-size: 50px;
  font-family: Arial;
}
.title h1{
  font-size: 70px;
  text-align: center;
}
.title p{
  font-size: 16px;
  text-align: center;
}
a{
  text-decoration: unset;
}
.left{
  color: #fff;
  width: 49.9%;
  float: left;
  text-align: center;
  z-index: 1;
  margin-top: -800px;
  
}
.right{
  color: #fff;
  width: 49.9%;
  float: right;
  text-align: center;
  z-index: 1;
  margin-top: -800px;
  
}
.linedivider{
    border-left: 0.2px solid white;
    height: 420px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 470px;
    color: aqua;
}
.left h1{
  font-size: 40px;
  text-align: center;
}
.right h1{
  font-size: 40px;
  text-align: center;
}
button{
  width: 75px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.filler::before{
  content: ' ';
  height: 100%;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
 
}
.filler:hover::before{
  width: 100%;
}
.filler{
  z-index: 1;
}

@media only screen and (max-width:800px){
  section{
    width: 80%;
    padding: 0;
  }
  header{
    width: 80%;
    padding: 0;
  }
  .background{
    width: 100%;
  }
  .left, .right{
    height: 100vh;
  }
}
@media only screen and (max-width:500px){
  header, section, footer{
    width: 100%;
   
  }
  .background{
    height: 270vh;
  }
  
  .left, .right{
    margin-top: -2050px;
  }
  .linedivider{
    height: 1700px;
  }
  .logo img{
    width: 130px;
  }
  .navigation ul li{
    margin-top: 60px;
    font-size: 18px
  }
  .title h1{
    font-size: 50px;
    margin-top: 80px;
    margin-left: -60%;
  }
  .title p{
    margin-top: 0px;
    margin-left: -190px;
  }
}

